.App {
  font-family: sans-serif;
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.buttonStart {
  background-color: #4caf50;
}
.buttonPause {
  background-color: #008cba;
}
.buttonReset {
  background-color: grey;
}
